.double{ width:0px; height:135px; bottom:85px; left:60px; display:flex; }
.info-player{ width:1583px; margin-top: 43px; }
.row-player{ height:91px; display:flex; }
.row-player .team{ padding: 15px 0px;  width: 125px; text-align: center;  margin-right: 30px;}
.row-player .name{ font-size:3.8rem; line-height:6rem; color:#fff; }
.data-player{ width:1695px;height: 90px; padding-top: 50px;}
.data-player table{color: #fff; font-size:3.5rem; margin-left: 30px;}
.data-player thead{ font-size:2rem; }
.data-player th{ padding:0px; }
.data-player tbody th#bat-HR-A{ width:105px; }
.data-player tbody th#bat-RBI-A{ width:125px; }
.data-player tbody th#bat-AVG-A{ padding:0px 0px 0px 45px; width:175px; text-align:left; }
.data-player tbody th#bat-OPS-A, .data-player tbody th#bat-SLG-A{ width:180px; }
.data-player tbody th#bat-SLG-A{ padding-right:20px; }
.wrap-box{ width:1686px; display:flex; background-image:url('../_images/bg_lt-jb.png');}