.gradient-1{
background: linear-gradient(180deg, #181d2c, #4f5a76);
}
.white{
color:white;
}
.black{
color:black;
}
.grey{
color:#2c2c2c;
}
.blue{
color:#3a7ded;
}
.red{
color:#f0321e;
}
.color-1{
color:#EBEBEB;
}
.color-2{
color:#303C46;
}
.color-3{
color:#00FC72;
}
.purple{
color:#2f0b37;
}
.pink{
color:#db006a;
}
.redgeert{
color:#f0321e;
}